<form class="pure-form" method="get" action="/markets/">
	<fieldset>			
		<input name="name" type="text" placeholder="Find a Market by name..." class="pure-u-1-2" data-autocomplete="/markets/autocomplete_market_market_name" autocomplete="off" id="market-name-input">
		<input name="zip" type="text" placeholder="Zip" class="pure-u-1-8" id="market-zip-input">
		
		<button type="submit" class="pure-button notice" id="market-search-button">Search</button>
	</fieldset>
</form>