<section id="uber-search">
      <%= render partial: 'food/search' %>
</section>

<section id="food-list">
  <div class='page-header' style='margin-bottom: 20px;'>
    <div class="pure-g">
      <div class="pure-u-1-2">
        <h2 style='font-size: 34px; position: relative; top: 4px;'>Food List</h2>
      </div>
      <div class="pure-u-1-2" style="text-align: right;">
      </div>
    </div>
  </div>
  <table class="pure-table pure-table-horizontal" style="width: 100%; font-size: 14px;">
    <tr>
      <th>
        Name:
      </th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td style="width: 60%;">
          <%= link_to food.name.pluralize, "/food/#{food.id}/#{food.name.pluralize.parameterize}" %>
        </td>
      </tr>
    <% end %>
  </table>
</section>

<section id="markets-pagination" style="margin-top: 20px;">
  <%= paginate @foods %>
  <br><br>
  (<%= FoodProduct.count %> total)
</section>