<section class="wrapper row">
  <%= render partial: 'search/food_bar' %>
</section>

<section class="wrapper row">
  <h2>Food List</h2>
  <table>
    <tr>
      <th>
        Name:
      </th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td style="width: 60%;">
          <%= link_to food.name.pluralize, "/food/#{food.id}/#{food.name.pluralize.parameterize}" %>
        </td>
      </tr>
    <% end %>
  </table>
</section>

<section class="row">
  <%= paginate @foods %>
  <br><br>
  (<%= FoodProduct.count %> total)
</section>