<section class="wrapper row">
  <%= render partial: 'search/food_bar' %>
</section>

<section class="wrapper row">
  <h2>Common Local Foods</h2>

  <ul>
    <% @foods.each do |food| %>
      <li><%= link_to food.name, food_product_path(food) %></li>
    <% end %>
  </ol>
</section>
