<form action="/markets" method="get">
	<fieldset>			
		<input type="text" id="search_query" name="search[query]" placeholder="I want to find someone who grows...">
		<input type="text" id="search_location" name="search[location]"placeholder="Zip">
		
		<button type="submit" class="pure-button notice">Search</button>
	</fieldset>
</form>