<h2>Business Planning Dashboard</h2>

<style type="text/css">
  h3 {
    font-size 16pt;
    font-weight: bold;
    font-family: Helvetica;
    margin-bottom: 9px;
  }

  a {
    color: #DE8D0B;
  }

  .map_container {
    float: left; 
    display: block;
    width: 50%;
  }
</style>
