<%= render :partial => "boilerplate" %>

<!-- Farmers Markets -->
<div class="map_container">
  <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://hack4co.maps.arcgis.com/home/webmap/templates/OnePane/basicviewer/embed.html?webmap=64b1342ab1454912aabac7ec284a46b3&amp;gcsextent=-105.0597,39.701,-104.8383,39.8077&amp;displayslider=true&amp;displayscalebar=true&amp;displaylegend=true"></iframe>
</div>

<%= render :partial => "menu" %>

<div style="clear: both;">
</div>