<%= render :partial => "boilerplate" %>

<!-- Primary Food Sales/Markets -->
<div class="map_container">
  <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://hack4co.maps.arcgis.com/home/webmap/templates/OnePane/basicviewer/embed.html?webmap=7ba870cdf6204672ae184f05c17a0c0b&amp;gcsextent=-105.0621,39.6985,-104.8407,39.8052&amp;displayslider=true&amp;displayscalebar=true&amp;displaylegend=true"></iframe>
</div>

<%= render :partial => "menu" %>

<div style="clear: both;">
</div>