%form#market-search-form{:action => "/markets/", :method => "get"}
  %fieldset#market-search-fieldset
    %span#search-by-location
      #search-by-distance
        %label
          Miles
        %br
        %input#market-name-input{:name => "distance", :placeholder => "10", :type => "text"}
      #search-by-zip
        %label
          from
        %br
        %input#market-name-input{:name => "zip", :placeholder => "ZIP code or city", :type => "text"}
    %span#search-by-market
      %label
        Filter by market name
      %br
      %input#market-name-input{:autocomplete => "off", "data-autocomplete" => "/markets/autocomplete_market_market_name", :name => "search", :placeholder => "Market name", :type => "text"}
    #market-search-submit
      %button#market-search-button.pure-button.notice{:type => "submit"} Find it!