<form class="pure-form" method="get" action="/markets/">
	<fieldset>			
		<input name="name" type="text" placeholder="Search by market name" class="pure-u-1-2" data-autocomplete="/markets/autocomplete_market_market_name" autocomplete="off" id="market-name-input">
		<input name="zip" type="text" placeholder="Search by zip code" class="pure-u-1-2" id="market-zip-input">
		<button type="submit" class="pure-button notice" id="market-search-button">Search</button>
		<input name="food" type="text" placeholder="Search by food" class="pure-u-1-2" id="market-food-input">
		
	</fieldset>
</form>