<form class="pure-form">
	<fieldset>			
		<input type="text" placeholder="Find a Market by name..." class="pure-u-1-2">
		<input type="text" placeholder="Zip" class="pure-u-1-8">
		
		<button type="submit" class="pure-button notice">Search</button>
	</fieldset>
</form>