%section#markets-search-filter
  = render partial: 'markets/search'
%section#markets-map
  = render partial: "markets/map"
%section#markets-list
  = render partial: "markets/list"

= paginate @markets