<% if user_signed_in? && current_user.state_located? %>
  <section id="uber-search">
      <%= render partial: 'markets/search' %>
  </section>
<% end %>

<section id="main">
  <%= render partial: "markets/list" %>
</section>

<section id="markets-pagination" style="margin-top: 20px;">
  <%= will_paginate @markets %>
  <br><br>
  (<%= Market.count %> total)
</section>