<section id="small-search">
    <%= render partial: 'markets/search' %>
</section>

<section id="profile">
    <table>
      <% @markets.each do |market| %>
        <tr>
          <td>
            <%= link_to market.market_name, market_path(market) %>
          </td>
        </tr>
      <% end %>
    </table>
</section>