/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 /*
 *= require jquery.ui.all
 *= require formtastic
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

@import "includes/variables";
@import "bootstrap";
@import "bootstrap-responsive";

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom: 1; /* IE6&7 */
}

.wrapper, #wrapper  {
	max-width: 960px;
	margin: 0 auto;
}

#site-head {
	border-bottom: 1px solid $grub-orange-accent;
	background-color: $grub-orange;
}

nav.main-nav {
	padding: 10px;
	vertical-align: middle;
	color: $white;
}

h1.logo a {
	color: $white;
	font-family: $leckerli;
	vertical-align: middle;
	text-rendering: optimizeLegibility;
	&:hover {
		text-decoration: none;
	}
}

h1.logo span {
	font-family: $lato;
	font-size: .4em;
	vertical-align: middle;
	color: $white;
}

.nav-item {
	background-color: transparent !important;
	color: $white;
	vertical-align: middle;
	a, a:hover {
		color: $white;
		font-size: .8em;
	}
}

#uber-search {
	text-align: center;
	height: 100%;
	position: relative;
	form {
		@include border-radius(8px);
		width: 100%;
		padding: 10px 0;
		margin: 200px 0 200px 0;
	}
}

ul.popular-search-list {
	list-style: inside none;
	li {
		display: block;
		float: left;
		margin: 5px;
	}
}