#markets-search-form
  width: 40%
  float: left

#search-by-distance, #search-by-zip
  width: 45%
  display: inline
  float: left

#search-by-market

#markets-map
  width: 50%
  display: inline
  float: left

#markets-list
  margin-top: 20px

