#markets-search-form
  width: 40%
  float: left

// #search-by-distance, #search-by-zip
//   width: 45%
//   display: inline
//   float: left

#markets-map
  width: 50%
  display: inline
  float: left

#markets-list
  margin-top: 20px
  
// #search-by-market, #search-by-food
//   width: 100%
//   display: block

//   label
//     font-size: 2em
//     color: white

