<footer class="wrapper">
  <span>
    <%= link_to image_tag("hack-for-colorado-logo.png", :size => "124x20"), "http://www.hack4colorado.com/" %> Hack4Colorado 2013 Winner: Sustainability
  </span>
  <span>
    <%= link_to image_tag("natl_day_civic_hacking.png", :size => "107x20"), "http://www.hackforchange.org/" %> National Day of Civic Hacking Participant
  </span></br>
	<span>&copy; 2013 Grubb.io</span>
</footer>